<div class="container">
    <table class="table table-striped" ng-cloak ng-show="books.length">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Read?</th>
            <th colspan="2">Action</th>
        </tr>
        <tr ng-repeat="book in books">
            <td><input type="text" ng-model="book.title" size="50"/></td>
            <td><input type="text" ng-model="book.author" size="50"/></td>
            <td><input type="checkbox" ng-model="book.read"/></td>
            <td><a href="" role="button"
                   class="btn btn-primary" ng-click="updateBook(book)"> <span
                    class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </a></td>
            <td><a href="" role="button" class="btn btn-danger"
                   aria-label="Delete" ng-click="deleteBook(book.id)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a></td>
        </tr>
    </table>
    <h4 ng-hide="books.length">No Books Added Yet</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookModal"> <span
            class="glyphicon glyphicon-plus" aria-hidden="false"></span> Add New Book
    </button>

    <!--Modal-->
    <div id="bookModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Book</h4>
                </div>
                <div id="content" class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="book-title" class="control-label">Title:</label>
                            <input type="text" class="form-control" id="book-title" ng-model="book.title">
                        </div>
                        <div class="form-group">
                            <label for="book-author" class="control-label">Author:</label>
                            <input type="text" class="form-control" id="book-author" ng-model="book.author">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="book.read"> Read It
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addBook(book)">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>