<div class="container">
    <table class="table table-striped" ng-show="gameService.list.length">
        <tr>
            <th>Title</th>
            <th>Platform</th>
            <th>Watched?</th>
            <th colspan="2" style="text-align: center;">Action</th>
        </tr>
        <tr ng-repeat="game in gameService.list | orderBy:'id'">
            <td ng-model="game.title">
                {{ game.title }}
            </td>
            <td ng-model="game.platform">
                {{ game.platform }}
            </td>
            <td ng-model="game.played">
                {{ game.played | yesNo }}
            </td>
            <td style="text-align:center">
                <button class="btn btn-primary glyphicon glyphicon-pencil"
                        ng-click="openGameModal(game)"></button>
            </td>
            <td style="text-align:center">
                <button class="btn btn-danger glyphicon glyphicon-remove"
                        ng-click="deleteGame($index, game.id)"></button>
            </td>
        </tr>
    </table>
    <h4 ng-hide="gameService.list.length">No Games Added Yet</h4>
    <button type="button" class="btn btn-primary" ng-click="openGameModal()"> <span
            class="glyphicon glyphicon-plus" aria-hidden="false"></span> Add New Game
    </button>

    <!--Modal-->
    <script type="text/ng-template" id="gameModal.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-show="!game.id">Add Game</h3>
            <h3 class="modal-title" ng-show="game.id">Edit Game</h3>
        </div>
        <div class="modal-body">
            <ng-form name="gameForm" novalidate>
                <div ng-class="{ 'has-error' : gameForm.title.$invalid && !gameForm.title.$pristine }">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" ng-model="game.title" required/>
                        <span ng-show="gameForm.title.$invalid && !gameForm.title.$pristine" class="help-block">
                            A title is required.
                        </span>
                    </div>
                </div>
                <div ng-class="{ 'has-error' : gameForm.platform.$invalid && !gameForm.platform.$pristine }">
                    <div class="form-group">
                        <label>Platform</label>
                        <input type="text" class="form-control" name="platform" ng-model="game.platform" required/>
                        <p ng-show="gameForm.platform.$invalid && !gameForm.platform.$pristine" class="help-block">
                            A platform is required.</p>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="game.played"> Played It
                    </label>
                </div>
            </ng-form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary btn-sm" ng-disabled="gameForm.$pristine||gameForm.$invalid"
                    ng-click="save(game)">Save
            </button>
        </div>
    </script>
</div>