<div class="container">
    <table class="table table-striped" ng-show="movieService.list.length">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Watched?</th>
            <th colspan="2" style="text-align: center;">Action</th>
        </tr>
        <tr ng-repeat="movie in movieService.list | orderBy:'id'">
            <td ng-model="movie.title">
                {{ movie.title }}
            </td>
            <td ng-model="movie.year">
                {{ movie.year }}
            </td>
            <td ng-model="movie.watched">
                {{ movie.watched | yesNo }}
            </td>
            <td style="text-align:center">
                <button class="btn btn-primary glyphicon glyphicon-pencil"
                        ng-click="openMovieModal(movie)"></button>
            </td>
            <td style="text-align:center">
                <button class="btn btn-danger glyphicon glyphicon-remove"
                        ng-click="deleteMovie($index, movie.id)"></button>
            </td>
        </tr>
    </table>
    <h4 ng-hide="movieService.list.length">No Movies Added Yet</h4>
    <button type="button" class="btn btn-primary" ng-click="openMovieModal()"> <span
            class="glyphicon glyphicon-plus" aria-hidden="false"></span> Add New Movie
    </button>

    <!--Modal-->
    <script type="text/ng-template" id="movieModal.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-show="!movie.id">Add Movie</h3>
            <h3 class="modal-title" ng-show="movie.id">Edit Movie</h3>
        </div>
        <div class="modal-body">
            <ng-form name="movieForm" novalidate>
                <div ng-class="{ 'has-error' : movieForm.title.$invalid && !movieForm.title.$pristine }">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" ng-model="movie.title" required/>
                        <span ng-show="movieForm.title.$invalid && !movieForm.title.$pristine" class="help-block">
                            A title is required.
                        </span>
                    </div>
                </div>
                <div ng-class="{ 'has-error' : movieForm.year.$invalid && !movieForm.year.$pristine }">
                    <div class="form-group">
                        <label>Year</label>
                        <input type="text" class="form-control" name="year" ng-model="movie.year" required/>
                        <p ng-show="movieForm.year.$invalid && !movieForm.year.$pristine" class="help-block">
                            A year is required.</p>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="movie.watched"> Watched It
                    </label>
                </div>
            </ng-form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary btn-sm" ng-disabled="movieForm.$pristine||movieForm.$invalid"
                    ng-click="save(movie)">Save
            </button>
        </div>
    </script>
</div>